h3 {
    color: #4a4a4a;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 600!important;
    color: #161c2d;
    font-family: Lato,serif;
  }

.drop-down-label {
    width: auto;
    height: 17px;
    margin-bottom: .5em;
    // color: $dark-grey;
    font-family: Lato;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
  }