{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist/@bugsplat/ngb-filterable-dropdown"
      }
    ],
    "@semantic-release/github"
  ]
}