<div class="p-2">
    <div class="row">
        <div class="col-12 col-xl-4">
            <a href="https://www.bugsplat.com">
                <img class="w-100" src="./assets/logo-bugsplat-color.png">
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h2>
                <a href="https://github.com/BugSplat-Git/ngb-filterable-dropdown">{{title}}</a>
            </h2>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-xl-6">
            <input id="allow-multi-select" (click)="allowMultiSelectClick($event)" type="checkbox">
            <label class="ml-4 mb-0" for="allow-multi-select">Allow Multi-Select</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-xl-6">
            <input id="auto-close" (click)="autoCloseClick($event)" type="checkbox">
            <label class="ml-4 mb-0" for="auto-close">Auto Close</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-xl-6">
            <input id="disabled" (click)="disabledClick($event)" type="checkbox">
            <label class="ml-4 mb-0" for="disabled">Disabled</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-xl-6">
            <h3>Bugs</h3>
            <ngb-filterable-dropdown [autoClose]="autoClose" [items]="bugs" [disabled]="disabled"
                [selectedItems]="selected" [allowMultiSelect]="allowMultiSelect"
                (onItemsSelected)="onItemsSelected($event)" (onOpen)="onDropdownOpen()">
            </ngb-filterable-dropdown>
        </div>
    </div>
</div>