<div class="p-2">
    <div class="row">
        <div class="col-12 col-xl-4">
            <a href="https://www.bugsplat.com">
                <img style="max-width:350px" src="./assets/logo-bugsplat-color.png">
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h2>
                <a href="https://github.com/BugSplat-Git/ngb-filterable-dropdown">{{title}}</a>
            </h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-xl-6">
            <input id="allow-create-item" (click)="allowCreateItemClick($event)" type="checkbox">
            <label class="ml-4 mb-0" for="allow-create-item">Allow Create Item</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-xl-6">
            <input id="auto-close" (click)="autoCloseClick($event)" type="checkbox">
            <label class="ml-4 mb-0" for="auto-close">Auto Close</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-xl-6">
            <input id="custom-toggle-text" (click)="customToggleTextClick($event)" type="checkbox">
            <label class="ml-4 mb-0" for="custom-toggle-text">Custom Toggle Text</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-xl-6">
            <input id="disabled" (click)="disabledClick($event)" type="checkbox">
            <label class="ml-4 mb-0" for="disabled">Disabled</label>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-xl-3">
            <select id="selection-mode" class="form-control" (change)="onSelectionModeChange($event.target.value)">
                <option *ngFor="let mode of selectionModes" [value]="mode">
                    {{ mode }}
                </option>
              </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-xl-6">
            <h3>Bugs</h3>
            <ngb-filterable-dropdown *ngIf="customToggleText" [autoClose]="autoClose" [items]="items"
                [disabled]="disabled" [selection]="selection" [allowCreateItem]="allowCreateItem"
                [selectionMode]="selectionMode" (itemCreated)="onItemCreated($event)"
                (selectionChanged)="onSelectionChanged($event)" (openChanged)="onOpenChanged($event)">
                Select a Bug 🐛
            </ngb-filterable-dropdown>
            <ngb-filterable-dropdown *ngIf="!customToggleText" [autoClose]="autoClose" [items]="items"
                [disabled]="disabled" [selection]="selection" [allowCreateItem]="allowCreateItem"
                [placeholder]="'No Bugs Selected'" [selectionMode]="selectionMode" (itemCreated)="onItemCreated($event)"
                (selectionChanged)="onSelectionChanged($event)" (openChanged)="onOpenChanged($event)">
            </ngb-filterable-dropdown>
        </div>
    </div>
</div>